@media (Width<1200px ){
    /* =========section============= */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}

container1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 30px 70px ;
    padding: 20px;
}
}


/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */


@media(width<730px){



    header{
        width: 100%;
        display: flex;
        justify-content: end;

    }
    .header-ls{
        width: 50%;
    }
    .header-ls img{
        width: 30%;
    }


    /* menu */
    .menue-bar{
        font-size: 30px;
        margin-right: 20px;
        display: non;
        cursor: pointer;
        display: block;
    }
    
    
    
    /* header-ls */
    .header-rs1{
        transition: all 1s ease;

    }
    
    .header-rs1 ul{
        display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 70%;
    right: 0px;
    opacity: 100%;
    visibility: visible;
    padding: 20px 0px;
    border: solid white;
    border-radius: 15px;
    background-color: rgba(130, 125, 125, 0.874);
    z-index: 60;
    width: 45%;
    
    
    
}

.header-rs1 ul li{
    width: 100%;
    padding: 0px 5px;
    width: 100%;
    z-index: 60;

    
}


.header-rs1 ul li p{
    font-size: 18px;
    font-weight: 600;
    border: solid;
    margin: 10px 0px;
    padding: 7px;
    border-radius: 15px;
    color: white;

}

.header-rs1 ul li p:hover{

    background-color: #dc3c54;
    
}

.hide{
   
    opacity: 0%;
    visibility: hidden;
    transition: all .5s ease;
    
}

/* =========================== */

.container{
    height: 400px;
}

.navbar{
    
    background-image: url(./../imgs/pexels-narda-yescas-1566837.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



/* =================================== */
/* menue-data1 */
.menue-data1{
    width: 100%;
    
}
.menue-data1 ul{
    width: 50%;
}

.menue-data2{
    width: 50%;
    
}
.menue-data2 h2{
    font-size: 20px;
}

.lih{
    border: solid;
    display: none !important;
}


/*=============== */
.small-men{
    position: absolute;
    top: 59px;
    left: 5px;
    z-index: 1;
    display: none;
    width: 400px;

}

/*=============== */
.small-men{
    position: absolute;
    top: 59px;
    left: 5px;
    z-index: 1;
    display: flex;
    transition: all .7s ease;


}

.hideMen{
    display:none ;
    transition: all .7s ease;

}

.small-men li p{
    padding:  12px 2px !important;
    font-size: 15px !important;
}

.arrow{
    display: block;
}





/* ==menue3===== */
/* ==menue3===== */

.list2{
    position: absolute;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transition: all .7s ease;

}

.list2 li{
    width: 40% !important;
}

.hide-list2{
    opacity: 0%;
    visibility: hidden;
}
/* ======bar2====== */
.bar2{
    font-size: 40px;
    display: block;
    border: solid;
     border-radius: 5px ;
     padding: 7px ;
     color: white;
}
/* =======section================ */

/* =========section============= */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}

container1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 30px ;
    padding: 20px;
}


}


/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */
/* ============================================== */



@media(width<500px){



    header{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

    }

    .header-ls{
        width: 30%;
    }
    .header-ls img{
        width: 100%;
    }

        /* menu */
        .menue-bar{
            font-size: 30px;
            margin-right: 20px;
            display: non;
            cursor: pointer;
            display: block;
        }
    
    /* header-ls */
    .header-rs1{
        transition: all 1s ease;

    }
    
    .header-rs1 ul{
        display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 80%;
    right: 0px;
    opacity: 100%;
    visibility: visible;
    padding: 20px 0px;
    border: solid white;
    border-radius: 15px;
    background-color: rgb(130, 125, 125);
    width: 60%;
    padding: 10px;
    

}

.header-rs1 ul li{
    width: 100%;
    padding: 0px 5px;

    
}

.header-rs1 ul li p{
    font-size: 18px;
    font-weight: 600;
    border: solid;
    margin: 10px 0px;
    padding: 7px;
    border-radius: 15px;
    color: white;

}

.header-rs1 ul li p:hover{

    background-color: #dc3c54;
    
}


.hide{
    
    opacity: 0%;
    visibility: hidden;
    transition: all .5s ease;
}

/* ========================= */


/* menue-data1 */
.menue-data1{
    width: 100%;
    
}
.menue-data1 ul{
    width: 40%;
}

.menue-data2 h2{
    font-size: 15px;
}

.menue-data2{
    width: 60%;
}

.lih{
    border: solid;
    display: none !important;
}

.small-men li{
    padding: 0px 10px;
    /* width: 20% !important; */
}

.arrow{
    display: block;
}

.small-men{
    position: absolute;
    top: 59px;
    left: 5px;
    z-index: 1;
    display: none;
    
}

/*=============== */
.small-men{
    position: absolute;
    top: 59px;
    left: 5px;
    z-index: 1;
    display: flex;
    width: 100%;
}

.hideMen{
    display:none ;
}

/* ==menue3===== */

.list2{
    position: absolute;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transition: all .7s ease;


}





.list2 li{
    width: 70% !important;
}

.hide-list2{
    opacity: 0%;
    visibility: hidden;
}
/* =======bar2====== */

.bar2{
    font-size: 30px;
    display: block;
    border: solid;
     border-radius: 5px ;
     padding: 7px ;
     margin-bottom: 7px;
}

/* =========section============= */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}

container1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 30px ;
    padding: 20px;
}

/* data-img */

.data-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: solid gray 1px;
}
.data-img>div> h3 {
    font-size: 30px;
}
/* =============== */
/* data */

.data{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.data h4{
    font-size: 30px ;
    color: #dc3c54;
}
.data p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 18px;
}




  


}


